---
const { href, text, variant = "primary" } = Astro.props;
---

<!-- Based on the presence of href, render an anchor or button element -->
{href ? (
  <a class="button" href={href} data-button-variant={variant}>
    <span>{text}</span>   
    <svg 
      aria-hidden="true" 
      focusable="false" 
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 10 24">
      <path stroke="currentColor" fill="none" d={variant === 'secondary' ? "M9 24 1 12 9 0" : "m1 0 8 12-8 12"}/>
    </svg>
  </a>
) : (
  <button class="button" data-button-variant={variant}>
    <span>{text}</span>
  </button>
)}
