---
const { href, text, variant = "primary" } = Astro.props;
---

<!-- Based on the presence of href, render an anchor or button element -->
{href ? (
  <a class="button" href={href} data-button-variant={variant}>
    <span>{text}</span>
    {/* <svg 
      aria-hidden="true" 
      focusable="false" 
      xmlns="http://www.w3.org/2000/svg" 
      fill="none" 
      viewBox="0 0 24 24">
        <path fill="currentColor" d="M16.172 13H4v-2h12.172l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13Z"></path>
    </svg> */}
    
    <svg 
      aria-hidden="true" 
      focusable="false" 
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 10 24">
        <path stroke="currentColor" fill="none" d="m1 0 8 12-8 12"/>
    </svg>
    
    {/* <svg 
      width="10" 
      height="24" 
      xmlns="http://www.w3.org/2000/svg">
        <path stroke="currentColor" fill="none" d="m1 0 8 12-8 12"/>
    </svg> */}
  </a>
) : (
  <button class="button" data-button-variant={variant}>
    <span>{text}</span>
  </button>
)}
